.card-footer {
  /* changes here */
  /* border-top: 1px solid #e9ebee; */
  margin-top: 0px;
  margin-right: 12px;
  margin-bottom: 0px;
  width: 100%;
}

/* .createfooter1 {
  width: 100%;
} */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width:100%
}

.li {
  margin-right: 100px;
  width: 100%;
}

.fk {
  width: 100%;
  display:flex;
  justify-content: space-between;
  font-family: inherit;
  font-weight: 650;
  color: #4b4f56;
  font-size: 14px;
  padding-top: 0px;
  padding-right: 22px; /* width and padding-right */
  padding-bottom: 0px;
  padding-left: 35px;
  overflow: hidden;
}

.space {
  display: inline-block;
  margin-right: 38px;
  margin-left: -32px;
  background: #f5f6f7;
  width: 116px;
  height: 29px;
  padding-top: 5px;
  padding-bottom: 0px;
  padding-left: 10px;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  border-bottom-left-radius: 18px;
}

.add-img {
  background-color: transparent;
  border-color: transparent;
  font-family: inherit;
  font-weight: 650;
  color: #4b4f56;
  font-size: 14px;
}

.space1 {
  display: inline-block;
  margin-right: 38px;
  margin-left: -32px;
  background: #f5f6f7;
  width: 132px;
  height: 29px;
  padding-top: 5px;
  padding-bottom: 0px;
  padding-left: 10px;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  border-bottom-left-radius: 18px;
}

.buttonwrapper1 {
  width: 12vw;
  height: 4vh;
  text-align: center;
}

.buttonwrapper1 input[type="file"] {
  width: 6vw;
  height: 4vh;
}

.posts {
  width: 60%;
  margin: auto;
  height: 100%;
  margin-top: 2%;
}

.postClass {
  width: 100%;
  height: 120px;
  padding: 5px;
  border-radius: 3%;
  display: flex;
  justify-content: space-between;
}

.postButton {
    width:40vw;
  /* margin-left: 300px; */
  
}
