.first {
  margin-top: 15px;
  margin-left: 12px;
  display: flex;
}

.fa-globe-americas {
  margin-top: 6px;
}

h4 {
  margin-left: 5px;
}
.textintro {
  text-align: center;
  font-size: 12px;
  color: brown;
  opacity: 0.7;
  color: #1d2129;
  margin-top: 5px;
}
.textintro1 {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: blue;
  size: 10px;
}
.textintro1:hover {
  text-decoration: underline;
}
.textintro2 {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: blue;
  margin-top: 6px;
  margin-bottom: 6px;
  font-size: 12px;
}
.line :hover {
  text-decoration: underline;
}
.line {
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}
.introbullet {
  list-style-type: none;
  margin-right: 10px;
  margin-top: 20px;
  margin-left: -19px;
  font-size: 12px;
  line-height: 16px;
}
.sidegap {
  margin-left: 60px;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}
.sidegap2 {
  margin-left: 160px;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  overflow: hidden;
  outline: none;
  margin-top: -50px;
}

.sidegap :hover {
  background-color: blueviolet;
}
.margintop {
  margin-top: 6px;
}
.commentimg {
  margin-left: 140px;
}
