.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.login-header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  max-width: 61%;
  margin: auto;
  padding: 10px;
}
.user-input-login {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}
.login-button {
  background-color: #4267b2;
  border-color: #29487d;
  color: white;
  border: 1px solid #ccd0d5;
  height: 30px;
  width: 80px;
  margin: auto;
  margin-top: 24px;
}
label {
  color: white;
}
.facebook-logo {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/y4/r/gf6iHxsw8zm.png");
  background-position: 0 0;
  background-size: 100% 100%;
  width: 170px;
  height: 33px;
  margin-top: 17px;
}

header {
  background-color: #385898;
}

.container {
  margin-top: 50px;
  clear: both;
}
.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.signup-facebook-help {
  width: 60%;
}

/*---------------------------------*/
.homepage-header {
  background-color: #4267b2;
  height: 42px;

  width: 100%;
  height:auto;
}

.homepage-navbar {
  display: flex;
  /* background-color: #282c34;; */
  justify-content:center;
  
  width: 60%;
  margin: auto;
  padding: 0 8px;
  height: 42px;
  color: #fff;
}

.homepage-navbar h1{
  /* align-self: center; */
  font-weight: bold;
}

.posts{
  width:60%;
  margin:auto;
  height: 100%;
  margin-top: 2%;
}

input{
  width: 100%;
  height:120px;  
  padding:5px;
  border-radius: 3%;
  display: flex;
  justify-content: space-between;
  margin-left:50px;

}


