.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.login-header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  max-width: 61%;
  margin: auto;
  padding: 10px;
}
.user-input-login {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}
.login-button {
  background-color: #4267b2;
  border-color: #29487d;
  color: white;
  border: 1px solid #ccd0d5;
  height: 30px;
  width: 80px;
  margin: auto;
  margin-top: 24px;
}
label {
  color: white;
}
.facebook-logo {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/y4/r/gf6iHxsw8zm.png");
  background-position: 0 0;
  background-size: 100% 100%;
  width: 170px;
  height: 33px;
  margin-top: 17px;
}

header {
  background-color: #385898;
}

.container {
  margin-top: auto;
  clear: both;
}
.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.signup-facebook-help {
  width: 60%;
}
.searchl {
  display: flex;
}
.navleft {
  display: flex;
}
/*---------------------------------*/
.navbar {
  display: flex;
  background-color: #4267b2;
  height: 45px;
  flex-grow: 1;
  justify-content: flex-start;
}
.fa-facebook-square {
  color: white;
}
.navtxt {
  color: white;
}

.container {
  margin-left: 350px;
}

.srch-icon {
  transform: translate(206px, -30px);
}
.fb-icon {
  transform: translate(1px, -11px);
}
.navbar i {
  padding: 10px;
}

.navright {
  margin-left: auto;
  display: flex;
  /* padding-top: 30px; */
  padding-bottom: 6px;
}
.color {
  color: white;
  display: flex;
  position: relative;
  top: -5px;
}

.navtxt {
  padding: 10px;
}

.right-navbar-icon i {
  color: #212529;
}
/*-----------------------------------------*/

.landing {
  margin-top: 100px;
}

/* Profile Page styles//////////////////////////// */

.profile {
  height: auto;
}
.profile-header {
  width: 80%;
  position: relative;
  margin: auto;
  text-align: center;
}

.profile-cover {
  max-height: 800px;
}
.profile-thumbnail {
  position: absolute;
  top: 444px;
    left: 15vw;
}
.profile-picture {
  border-radius: 100%;
  width: 277px;
  height: 264px;
  border: 2px solid white;
}
.profile-name {
  position: absolute;
  top: 567px;
  left: 33vw;
  color: white;
  font-size: 36px;
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
  line-height: 30px;
  max-width: 275px;
}
.profile-navbar {
  z-index: -1;
  width: 960px;
  margin: auto;
}
.profile-nav {
  margin: auto;
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-left: 348px;
  grid-gap: 78px;
}
.profile-body{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}